<h1>{{ message }}</h1>
<div>
   <table class="table">
       <thead>
           <tr>
               <th>Id</th>
               <th>Amount</th>
               <th>Created at</th>     
               <th>Updated at</th>
               <th></th>       
           </tr>
       </thead>
       <tbody ng-repeat="policy in policies track by $index">
           <td>{{policy.id}}</td>
           <td>{{policy.amount}}</td>
           <td>{{policy.created_at | limitTo: 10}}</td>
           <td>{{policy.updated_at | limitTo: 10}}</td>
           <td> <a href="#/insurances/edit/{{policy.id}}"><span class="label label-info"><span class="glyphicon glyphicon-pencil"></span> Edit</span></a>
           <a href="" ng-click="deleteInsurance(policy.id, $index)">
           <span class="label label-danger">
           <span class="glyphicon glyphicon-remove"></span> Delete</span></a></td>
       </tbody>
   </table>
</div>